.btn {
  background-color: var(--gold);
  border: 1px solid var(--gold);
  outline: none;
  color: var(--black);
  cursor: pointer;
  font-size: 16px;
}
.btn:hover {
  opacity: 0.96;
}
.video {
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  position: relative;
}
/* .video::before {
  content: "";
  width: 100%;
   height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--black);
  left: 0;
  opacity: 0.4; 
} */
.img-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.img-bg .content {
  background-color: rgba(0, 0, 0, 0.6);
}
.img-chef {
  width: 300px;
  aspect-ratio: unset;
  height: 400px;
}
.img-chef img {
  height: 376px;
}
.title span {
  color: var(--white);
}
.title h2 {
  font-size: 3.5em;
  color: var(--gold);
}
.contact-info span {
  display: block;
  color: var(--white);
  font-size: 0.9em;
}
.contact-info h3 {
  color: var(--gold);
  font-size: 1.2em;
}
.chef-details {
  max-width: 60%;
}
.gallery-abt {
  max-width: 45%;
}
.gallery {
  white-space: nowrap;
  overflow-x: auto;
}
.gallery .image {
  width: 250px;
  height: 350px;
  background-color: var(--gold);
  margin-right: 10px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 1px;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .image:hover::before {
  content: url(../assets/insta.svg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s all ease-in-out;
}
.g-container {
  padding: 50px 0px;
}
.input {
  width: 100%;
  min-height: 45px;
  border: 1px solid var(--gold);
}
.input select {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  background: transparent;
  padding: 10px;
  color: var(--gold);
}
.input input,
.input textarea {
  flex: 1;
  padding: 10px;
  font-weight: 600;
  color: var(--gold);
  border: none;
  outline: none;
  background: none;
}
.input textarea {
  height: 150px;
}
.form {
  margin: 20px 0px;
}
.newsletter {
  background-color: var(--black);
  padding: 20px;
  border: 1px solid rgba(220, 202, 135, 0.1);
  margin-top: 30px;
}
.about .cnt {
  width: 40%;
}
.abt-knfie img {
  height: 60vh;
}
.notfound {
  min-height: 60vh;
  padding-bottom: 30px;
}
.notfound img {
  width: 30%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
@media (max-width: 768px) {
  .gallery-abt {
    max-width: unset;
    width: 100%;
  }
  .gallery {
    width: 100%;
  }
  .img-chef {
    width: 100%;
    margin: 15px 0px;
  }
  .chef-details {
    max-width: unset;
  }
  .form .input {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .abt-knfie {
    width: 100%;
  }
  .about {
    margin-top: 20px;
  }
  .about .cnt {
    width: 100%;
  }
  .notfound img {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .img-bg-min {
    min-height: 75vh;
  }
}
.light .img-bg {
  background-image: unset !important;
}
.light .img-bg .content {
  background-color: unset;
}
.light .img-bg-min {
  min-height: unset;
}
.loader {
  width: 100vw;
  height: 100vh;
  background-color: var(bg);
}
