header {
  color: var(--white);
}
header ul {
  list-style-type: none;
}
header li {
  padding: 5px 10px;
  height: fit-content;
  cursor: pointer;
  color: white;
}
.menu {
  display: none;
}
.logo {
  color: var(--gold);
  font-size: 3em;
}
a {
  text-decoration: none;
}
/* .transparent {
  color: var(--black);
}
.transparent svg path {
  fill: var(--black);
} */
.theme-toggle {
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
.theme-toggle-mobile {
  display: none;
}
@media (max-width: 768px) {
  header ul {
    display: none !important;
  }
  .menu {
    width: 30px;
    background: none;
    outline: none;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .theme-toggle-mobile {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
  }
  .menu div {
    width: 80%;
    height: 4px;
    background-color: var(--gold);
    border-radius: 4px;
    margin-bottom: 2px;
  }
  .menu div:first-child {
    width: 6px;
    height: 6px;
  }
}

.light header {
  border-bottom: 1px solid var(--accent);
  color: var(--gold) !important;
}
.light header svg.svg-logo path {
  fill: var(--gold);
}
.dark header svg.svg-logo path {
  fill: var(--white);
}
.light header li {
  font-weight: 400 !important;
}
