.icon {
  width: 35px;
  height: 35px;
  background-color: var(--accent);
  border-radius: 50%;
  margin-right: 10px;
}
.icon img {
  width: 16px;
  height: 16px;
  filter: invert(100%);
}
.category.active .icon img,
.category:hover .icon img {
  filter: invert(100%) !important;
}
.light .icon img {
  filter: invert(0%);
}
.category {
  width: 100%;
  cursor: pointer;
  padding: 10px 0px;
  margin-bottom: 10px;
  transition: 0.3s all ease-in-out;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid var(--accent);
}

.categories {
  width: 200px;
}
.category span {
  font-size: 0.9em;
}
.category.active span,
.category:hover span {
  color: var(--gold);
  font-weight: 600;
}
.category.active,
.category:hover {
  border-color: var(--gold);
}
.category.active .icon,
.category:hover .icon {
  background-color: var(--gold);
}
.list,
.items {
  flex: 1;
}
.items {
  padding-left: 20px;
}
.list {
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}
.card {
  width: calc(33.33% - 10px);
  height: 250px;
  cursor: pointer;
}
.card .img-card {
  width: 100%;
  height: 150px;
  background-color: var(--accent);
  border-radius: 10px;
  margin-bottom: 5px;
  overflow: hidden;
}
.card .img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}
.card .details h4 {
  font-size: 1em;
  color: var(--white);
}
.card:hover .img-card img {
  scale: 1.1;
}
.card .details span {
  font-size: 0.7em;
}
.price {
  display: block;
  color: var(--black);
  margin-left: auto;
  background-color: var(--gold);
  width: fit-content;
  padding: 3px 5px;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 700;
}
.p-image {
  width: 100%;
  height: 300px;
  background-color: #151515;
  position: relative;
  background-repeat: no-repeat;
}
.p-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.p-image .content {
  width: 100%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(-305px);
}

.item-details {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  background-color: var(--black);
  transform: translateY(-100px);
  z-index: 10;
}
.cart {
  padding: 15px;
  width: 50%;
  border: 1px solid rgba(220, 202, 135, 0.1);
  margin-left: auto;
}
.cart h2 {
  color: var(--gold);
  font-size: 2em;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 10px;
  width: 15%;
  border-bottom: 1px solid rgba(220, 202, 135, 0.1);
}
.counter .btn {
  width: 30px !important;
  height: 20px !important;
}
.counter .count {
  padding: 0px 10px;
  font-weight: 600;
  color: var(--gold);
}
.item-info span {
  display: block;
}
.item-info span:last-child {
  font-size: 0.6em;
}
.cart-table td.item-info {
  width: 70%;
}
.empty-cart {
  font-size: 0.8em;
  font-style: italic;
  text-align: center;
  display: block;
  padding: 50px;
}
.pricing-table {
  font-size: 0.9em;
  color: var(--white);
  margin-top: 30px;
}
.pricing-table td {
  width: 100%;
  padding: 5px;
}
@media (max-width: 768px) {
  .categories,
  .items {
    width: 100%;
  }
  .item-preview {
    margin-bottom: 20px;
    width: 100%;
  }
  .item-details .btn {
    width: 100% !important;
  }
  .items {
    padding-left: 0px;
  }
  .card {
    width: 100%;
    height: fit-content;
    margin-bottom: 15px;
  }
  .card .img-card {
    height: 180px;
  }
  .categories {
    height: 100px;
    white-space: nowrap;
    overflow-y: auto;
  }
  .categories .category {
    display: inline-block;
    width: fit-content;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    max-width: 150px;
  }
  .categories .category .icon {
    margin-left: auto;
    margin-right: auto;
  }
  .cart {
    width: 100%;
  }
  .td-counter {
    min-width: 100px !important;
  }
  td {
    padding: 5px 2px !important;
  }
  .nav-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 5;
    transition: 0.3s all ease-in-out;
    background-color: transparent;
  }
  .nav-container.opened {
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .nav-container button {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    background-color: transparent;
    outline: none;
  }
  .nav-container .nav-content {
    width: 75%;
    background-color: var(--bg);
    height: 100%;
  }
}
.light .card .details h4 {
  color: var(--gold);
}
